<h6>Listado de Alumnos</h6>


<ul>
    <div *ngFor="let persona of listaAlumnos">
        <li [ngClass]="persona.edad > 44 ? 'texto-exito' : 'texto-error'" *ngIf="persona.nombre != 'Nicolas Cage'">
            <div>
                {{persona.nombre | uppercase}}
                {{persona.edad}}
            </div>
        </li>
    </div>
</ul>

<input type="text" placeholder="Ingrese su nombre" [(ngModel)]="nombre">
<p>Su nombre es: {{ nombre }}</p>


<p>Variable 1 tiene un valor de: {{variable1}}</p>
<button class="btn btn-primary" (click)="manejarEvento()">Modificar</button>

