.texto-error{
    color: red;
}

.texto-exito{
    color: greenyellow;
}

.mainStudents {
    margin: 0% 5% 10% 20%;
}

table{
    width: 100%;
    height: auto;
}

th {
    width: 10%;
    height: 10%;
}

td{
    width: 10%;
    height: 10%;
}



