<main class="mainStudents">
<h6>Listado de Alumnos</h6>

<form class="form-group row mb-4">
        
    <div class="form-group col-md-3">
      <label for="nombre">Nombre:</label>
      <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control" [(ngModel)]="cuadroNombre">
    </div>

    <div class="form-group col-md-3">
      <label for="apellido">Apellido:</label>
      <input type="text" name="Apellido" id="Apellido" placeholder="Apellido" class="form-control" [(ngModel)]="cuadroApellido">
    </div>

    <div class="form-group col-md-3">
      <label for="id">Edad:</label>
      <input type="text" name="edad" edad="edad" placeholder="edad" class="form-control" [(ngModel)]="cuadroEdad">
    </div>

    <div class="form-group col-md-3">
      <label for="curso">Curso:</label>
      <input type="text" name="curso" id="curso" placeholder="curso" class="form-control" [(ngModel)]="cuadroCurso">
    </div>
    
    <br>
    <br>
    <br>
      <button mat-flat-button color="primary" (click)="agregarAlumno()">Agregar Alumno</button>
    
  </form>

  <mat-form-field color="primary" appearance="outline">
      <mat-label color="primary">Buscar</mat-label>
      <input type="text" matInput (keyup)="filtrar($event)">
  </mat-form-field>


  <table mat-table [dataSource]="dataSource">
    <!--ID-->
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element; let i=index">{{i+1}}</td>
    </ng-container>
    <!--Nombre-->
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
    </ng-container>
    <!--Apellido-->
    <ng-container matColumnDef="Apellido">
      <th mat-header-cell *matHeaderCellDef>Apellido</th>
      <td mat-cell *matCellDef="let element">{{element.apellido}}</td>
    </ng-container>
    <!--Edad-->
    <ng-container matColumnDef="Edad">
      <th mat-header-cell *matHeaderCellDef>Edad</th>
      <td mat-cell *matCellDef="let element">{{element.Edad}}</td>
    </ng-container>
    <!--Curso-->
    <ng-container matColumnDef="Curso">
      <th mat-header-cell *matHeaderCellDef>Curso</th>
      <td mat-cell *matCellDef="let element" [ngClass]="element.curso === 'Angular' ? 'texto-exito' : 'texto-error'">{{element.curso}}</td>
    </ng-container>
    <!--Accion-->
    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef>
        <button mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
  
    <tr mat-header-row mat *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas"></tr>
  </table>

</main>